@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome-webfont.eot');
    src: url('../fonts/FontAwesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome-webfont.woff') format('woff'),
    url('../fonts/FontAwesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
b{
    color:#cf2127;

}
a:hover{
    color:#cf2127;
    text-decoration: none;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}
html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background-color: #fff;
}
/*checkbox style */
.checkbox {
    padding-left: 45px;
    float: left;
    width: 100%;
}
.checkbox label{
    display: inline-block;
    float: left;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }

.checkbox label::after{
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"]{
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after{
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label{
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before{
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox-success input[type="checkbox"]:checked + label::before{
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after{
    color: #fff; }
/*end */
/*top header style*/
.wrapper{
    width:100%;
    /*overflow:hidden; */
    padding:0;
}
/*end*/
/*footer*/
.footer{
    background-color:  #e48d28;
    width: 100%;
    float:left;
}
.footer_container{
    background: url("../img/footer_img.png") no-repeat;
    min-height: 500px;
    background-position: center bottom;
}
.footer_container ul{
    margin-top: 50px;
}
.footer .footer_menu ul li{
    list-style:none;
    float: left;
    font-size: 16px;
    margin-right: 30px;
    color:#000;
}
.footer .footer_menu ul li a{
    color:#000;
    line-height:2;
}
.footer .footer_menu ul li a:hover, .footer .footer_menu ul li a:active, .footer .footer_menu ul li a:visited{
    color:#fff;
    text-decoration: none;
}
.footer h4{
    color:#000;
}
.footer_menu{
    float: left;
}
.social_media{
    float: right;
}
.social_media ul{
    list-style: none;
    display: inline-block;
}
.footer .social_media ul li{
    border: 2px solid #fff;
    width: 45px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    float: left;

}
.footer .social_media ul li i{
    font-size:1.5em;
    color:#fff;
}
.copy_right{
    float: left;
    width: 100%;
    margin-top: 50px;
}
.copy_right p{
    color:#fff;
    text-align: center;
}
.footer .divider{
    float: left;
    width: 100%;
}
.footer .divider hr{
    border-color:#c76608;
}
.powered{
    float:right;
}
.copyright{
    float:left;
}
.footer_links{
    padding: 30px 0;
}
.left_logo{
    float:left;
    padding:0;
}
.footer_info p{
    float:left;
}
.footer_info i{
    font-size:3em;
    color:#000;
}
.footer_container .col-xs-12{
    padding: 0;
}
.mailing_info{
    margin-right: 15px;
}
.header-mob{
    display: none !important;
}
@media (max-width: 320px){
    .seller_social .btn-send{
        font-size: 12px;
    }
}
@media (max-width: 415px){
    .footer .footer_menu ul li a{
        font-size: 12px;
    }
}
@media (max-width:500px){
    .hide-bullets{
        display:none;
    }
    .header_bg{
        display: none !important;
    }
    .header-mob{
        display: block !important;
        background: url('../img/header_img_small.png') #f28301 no-repeat top center;
        width: 100%;
        overflow: hidden;
        height: 100%;
        min-height: 270px;
        background-size: cover;
    }
    .container-1 {
        width:80%;
    }

}
@media (max-width:675px){
    .footer_container{
        background:none;
    }
    .popular_ads h1{
        font-size:17px;
    }
    .home-category .col-lg-9 .row{
        padding-left: 10px !important;
    }
}
@media (max-width:768px) {
    .mailing_info1 {
        margin-right: 15px;
    }

    .search-box .btn-search {
        margin-bottom: 15px;
    }

    .ads_icon {
        margin-top: 0px !important;
    }

    .footer_container .col-xs-12 {
        padding: 0;
    }

    #inbox .col-md-12 {
        margin-top: 25%;
    }
    .category-bg h5 a{
        font-size: 11px;
    }
    .home-category .col-lg-9 .row{
        padding-left: 15px !important;
    }
    .home-category h3{
        font-size: 17px;
    }
    .Ads-info, .Ads-info .row span b{
        padding-left: 0;
        padding-right: 15px;
    }
    .user-side{
        padding: 0;
    }
}
@media (min-width: 768px) and (max-width:990px) {
    .category-bg h5 a {
        font-size: 11px;
    }

    .thumbnail a > img {
        height: 100px !important;
    }

    .home-category .col-lg-9 .row {
        padding-left: 15px !important;
    }

    .person-heading {
        font-size: 18px;
    }

    .Ads-info, .Ads-info .row span b {
        padding-left: 0;
        padding-right: 15px;
    }
    .container {
        width: 100%;
    }
    .userdetai-right h3{
        font-size: 18px;
    }
    .top-authors .user_img{
        padding-left: 0;
    }
}
@media (min-width: 990px) and (max-width:1200px) {
    .thumbnail a>img{
        height: 125px !important;
    }
    .category-bg h5 a{
        font-size: 11px;
    }
    .Ads-info .row span b{
        padding-left: 0;
    }
    .userdetai-right h3{
        font-size: 18px;
    }
    .top-authors .user_img{
        padding-left: 0;
    }
}
@media (min-width:520px) and (max-width:768px){
    .popular-body ul li{
        width:33%;
        float:left;
    }

}
@media (min-width:768px) and (max-width:800px){
    .footer p{
        font-size:12px;
    }
}
@media (min-width:768px) and (max-width:990px)
{
    .footer_info i{
        font-size:2em;
        color:#000;
    }
}
@media (min-width:768px){
    .header-container .container .navbar{
        margin-top: 15px;
        padding-top: 8px;
        border-radius: 5px;
        box-shadow: 0 5px 2px 1px rgba(0, 0, 0, 0.3);
    }
    .login-container .container{
        width:750px;
    }
    .support{
        padding-left: 25px !important;
    }

}
@media (min-width: 1200px){
    .home-category .col-lg-4 {
        width: 32%;
    }
    .header-container .container, .search_container{
        width: 750px;
    }
    .search_container{margin: 0 auto}
    .search_container .col-lg{padding: 0}
    .footer .container{
        width: 999px;
    }
    .ads-detail .col-lg-9{
        padding-right: 15px !important;
    }
    div.list-group{
        right:22% !important;
    }

}
/*popular ads*/
.popular-body ul{
    list-style: none;
}
.popular-body ul li {
    padding: 5px;
}
.popular-heading h3{
    float: left;
    width: 100%;
    text-transform: uppercase;
}
.ads-heading h3{
    text-transform: uppercase;
}
.ads_icon{
    float: right;
    margin-top: -25px;
}
.popular_ads h1{
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;

}
.popular-body .item{
    float:left;
    width: 100%;
}
.popular-body .carousel-inner{
    padding-right: 25px;
}
.fff .caption{
    text-align: center;
    font-size: 12px;
    color:#000;
}
.fff .caption h4{
    font-size: 14px;
}
.fff .thumbnail{
    margin-bottom: 10px;
}

.fff p{
    margin-bottom: 0;
}
.home-category .category-bg{
    float: left;
    background-color: #fafafa;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 20px 10px;
    min-height: 125px;
}
.home-category{
    float: left;
    width: 100%;
    display: block;
    margin-top: 25px;
}
.home-category .col-lg-9{
    padding: 0;
}
.home-category .col-lg-9 .row{
    margin-left: 0;
    padding-left: 50px;
}
.home-category .category-bg i{
    font-size: 2em;
    color:#f28301;
}
.badge{
    background-color:#f28301;
    color:#fff;
    margin-left: 10px;
}
.home-category h3{
    text-transform: uppercase;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.side-box{
    margin-top: 25px;
}
.brow_cat ul{
    list-style: none;
    text-align: left;
}
.brow_cat{
    float: left;
    background-color: #fafafa;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 10px;
}
.brow_cat ul li{
    margin-bottom: 5px;
}
.brow_cat h5{
    text-align: left;
    font-weight: bold;
}
.viewall{
    font-size: 12px;
}
.viewall a{
    color:#000;
}
.viewall a:hover{
    color:#f28301;
}
.header-container{
    width: 100%;
    float:left;
}
.header_top{
    background-color:#dc831a;
    float:left;
    width: 100%;
}
.top_menu{
    float: right;
    margin-top: 10px;
}
.top_menu ul{
    list-style: none;
    display: inline-block;
}
.top_menu ul li{
    color: #fff;
    float:left;
    margin: 0 6px 0 2px;
}
.top_menu ul li a{
    text-decoration: none;
    color: #fff;
}
.top_menu span{
    color:#fff;
}
.header_bg{
    background: url('../img/header-img.png') #f28301 no-repeat top center;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100%;
    min-height: 272px;
}
.popular_ads{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.fff{

}
.header-container .container .navbar{
    margin-top: 15px;
    /*margin-bottom: 10px;*/
}
.search-box{
    border:2px solid #ccc;
    padding: 20px 20px 0px 20px;
    border-radius: 5px;
    float:left;
    width:100%;
}

.search-box .btn-search{
    background-color:#4d90c8;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
}
.search-box .col-xs-12{
    margin-bottom: 20px;
}
.postbtn{
    width: 100%;
    float:left;
    margin: 25px 0 -45px 0;
    text-align: center;
}
.btn-post{
    color: #fff;
    background-color: #cf2127;
    min-width: 25%;
    font-size: 18px;
    font-weight:bold;
    max-width: 100%;
}
.landing_h1{
    font-size:20px;
    text-transform: capitalize;
}
.btn-post:hover{
    color:#fff;
}
.search-box .form-control{
    height: 40px;
    background-color: #fafafa;
}
.search-box .btn-search{
    height: 40px;
}
/* End home*/
/*ads detailpage */
.ads-detail{
    float:left;
    width:100%;
}
.ads-detail .col-lg-9{
    padding: 0;
}
.ads-detail .prod_meta .meta_id:after{
    content:'|';
    padding: 0 5px;
}
.rating i{
    color:gold;
}
.Ads-title{
    float:left;
}
.pricebox{
    float: right;
    margin-top: 26px;
    border: 2px solid #cf2127;
    padding: 5px;
}
.pricetag{
    color:#cf2127;
    font-weight: bold;
}
.gallery-slider{
    padding: 0;
    clear: both;
    margin-top: 25px;
    padding-right: 20px;
}
.hide-bullets {
    list-style:none;
    margin-top:20px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
.Ads-info .row {
    margin-left: 0px;
    margin-top: 20px;
}
.Ads-info .row span{
    border-bottom: 1px solid #eee;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.Ads-info .row span b{
    float: left;
    margin-right: 15px;
}
.mobile-info i{
    font-size: 2em;
    margin-right: 15px;
}
.btn-seller{
    background-color: #cf2127;
    color:#fff;
    margin-top: 25px;
    border-bottom: 4px solid #b32a2e;
    font-size: 16px;
    border-radius: 0;
    height: 40px;
}
.btn-seller:hover{
    color:#fff;
}
/*ads_Detail sidebar*/
.person-heading{
    border-bottom:2px solid #ccc;
    text-transform: uppercase;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}
.seller_pic{
    float:left;
    margin-right: 15px;
}
.btn-owner{
    background-color: #ebebeb;
    color:#222;
    margin-top: 5px;
    border-bottom: 4px solid #bcbcbc;
    font-size: 14px;
    border-radius: 0;
    height: 40px;
}
.seller_btn ul{
    list-style: none;
    display: inline-flex;
    margin-top: 10px;
}
.seller_btn ul li{
    margin-right: 5px;

}
.btn-fb, .btn-tw, .btn-gplus{
    background-color: #fff;
    border: 1px solid #eee;
    color:#000;
}
.btn-fb:hover{
    background-color: #3b5998;
    color:#fff;
}
.btn-tw:hover{
    background-color: #0084b4;
    color:#fff;
}
.btn-gplus:hover{
    background-color: #d34836;
    color:#fff;
}
.seller-website a{
    color: #d34836;
}
.seller-website .fa-globe{
    font-size: 1.5em;
}
.similar_posts ul{
    list-style: none;
    margin-top: 10px;
}
.similar_posts ul li{
    border-bottom: 1px solid #eee;
    float:left;
    width:100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.similar_posts ul li:last-child{
    border-bottom: 0;
}
.similar_posts ul li img{
    float:left;
    margin-right: 5px;
}
.similar_posts ul li .post_title{
    font-size: 13px;
    color:#222;
    font-weight: bold;
}
.similar_posts ul li p{
    font-size: 12px;
    color:#222;
    margin-bottom: 5px;
}
.similar_posts ul li b{

}
.info-tab{
    float:left;
    width:100%;
}
.info-tab .nav>li>a:focus, .info-tab .nav>li>a:hover, .info-tab .nav>li>a:active{
    background-color: #cf2127;
    color:#fff;
}
.seller_social{
    float:left;
    width:100%;
    margin-top: 30px;
}
.seller_social ul{
    list-style: none;
    display: inline-flex;
}
.seller_social ul li{
    margin-right: 10px;
}
.seller_social .btn-send{
    background-color: #2a2a2a;
    color:#fff;
}
.navigation-bar {
    float: left;
    width:100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.navigation-bar .previous-arrow, .navigation-bar .previous-arrow i{
    float:left;
}
.navigation-bar .previous-arrow i{
    margin-top: 8px;
    color:#cf2127;
}
.navigation-bar .previous-arrow p{
    float:left;
    margin-left: 10px;
    padding: 5px;
    background-color: #fafafa;
    color:#000;
}
.navigation-bar .next-arrow{
    float:right;
}
.navigation-bar .next-arrow i{
    margin-top: 8px;
    color:#cf2127;
}
.navigation-bar .next-arrow p{
    float:left;
    margin-right: 10px;
    padding: 5px;
    background-color: #fafafa;
    color:#000;
}

.btn-site
{
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:0px
}

.username{
    margin-bottom: 15px;
}
.login-container {
    margin-bottom: 50px;
    width: 100%;
    float: left;
    margin-top: 50px;
}
.login-container h4{
    color:#cf2127;
    background: #fafafa;
    padding: 10px;
    border-top:1px solid #eee;
}
.captchabox{
    border: 1px solid #eee;
    width: 100%;
    float: left;
    min-height: 100px;
    margin-bottom: 20px;
}
.forget-pwd{
    font-size: 12px;
}
.login-container h3{
    margin-bottom: 20px;
}
.login-container .control-label:after {
    content:"*";
    color:red;
}
/*end*/
/*post an ad*/
.login-system .Username{
    clear: both;
    padding: 0;
    margin-top: 15px;
}
.login-system .radiobox label{
    margin-right: 10px;
    float:left;
}
.login-system .radiobox input[type="radio"]{
    position: relative;
    top: 2px;
    margin-right: 10px;
}
.btn-log{
    clear: both;
    float: left;
    margin-top: 10px;
    color: #fff;
    background-color: #cf2127;
}
.btn-log:hover{
    background-color: #b32a2e;
}
.user-detail .Ad-title,  .user-detail .classified-desc,
.user-detail .add-image, .user-detail .check_list, .user-detail .btn-action{
    display: block;
    clear: both;
    float: left;
}
.user-detail h3{
    display: block;
    clear: both;
}
.user-detail .main-cat, .user-detail .price-info, .user-detail .classified-status, .user-detail .location-map,
.user-detail .seller-info{
    display: block;
    float: left;
}
.btn-action{
    margin-left: 15px;
}
.user-detail h3{
    border-bottom: 2px solid #cf2127;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px 0;
}
.user-detail .form-control{
    margin-bottom: 10px;
}
.desc-box{
    margin-bottom: 10px;
}
.classified-desc{
    margin-bottom: 15px;
}
.check_list{
    margin-bottom: 15px;
    margin-top: 20px;
}
.check_list span{
    margin-left: 15px;
}
.btn-preview{
    background-color: #2a2a2a;
    color: #fff;
}
.btn-cont{
    clear: both;
    float: left;
    color: #fff;
    background-color: #cf2127;
    margin-right: 15px;
}
.panel-title a{
    text-decoration: none;
}
.accept-term{
    margin-top: 20px;
}
/*list-grid*/
.list-icons{
    display: inline-flex;
}
.list-grid{
    margin-top: 3em;
}
.list-grid hr{
    float:left;
    width:100%;
    margin-top: 0;
}
.list-icons i:hover{
    color: #cf2127;
}
.list-icons i{
    font-size: 1.5em;
    background-color: #eee;
    margin-right: 7px;
    padding: 7px 8px;
    margin-bottom: 25px;
}
.item-box{
    background-color: #fffbef;
    padding: 10px;
    margin-bottom: 25px;
}
.item-box .col-lg-10, .item-box .col-lg-3{
    padding: 0;
}
.item-box .item-title, .item-box .item-price, .item-box .item-date,
.item-box .item-cat, .item-box .item-author, .item-box .item-rating,
.item-box .item-location, .item-box .item-phone, .item-box .item-favt
{
    margin-bottom: 5px;
}
.item-author span{
    color:#cf2127;
}
.item-rating i{
    color:gold;
}
.filter-search{
    background-color: #FFFBEF;
    padding:15px;
}
.filter-search h4{
    font-weight: bold;
    color:#337AB7;
}
.filter-search h3{
    margin-top: 0;
    margin-bottom: 20px;
    color:#337AB7;
}
.filter-search h5 {
    color:#337AB7;
}
.filter-search .price-slider{
    margin-bottom: 20px;
}
.loc-filter{
    margin-bottom: 20px;

}
.loc-filter input[type="checkbox"]{
    margin-right: 10px;
}
.loc-filter span{
    margin-right: 12px;
}
.loc-filter select{
    margin-bottom: 10px;
}
.status-filter{
    margin-top: 20px;
}
.cat-list{}
.cat-list h4{
    border-bottom: 2px solid #eee;
    padding: 10px 0;
}
.cat-list ul{
    list-style: none;
}
.cat-list ul li{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.cat-list ul li a{
    color:#cf2127;
}
.cat-list ul li a span{
    color:#222;
}
.pagbox{
    text-align: center;
}
.pagbox .pagination>li>a:focus, .pagbox .pagination>li>a:hover, .pagbox .pagination>li>span:focus, .pagbox .pagination>li>span:hover{
    background-color: #cf2127;
    border-color: #cf2127;
    color:#fff;
}
.adv-search{
    margin-top: 5em;
}
.item_details{
    float:left;
    margin-left: 10px;
}
.item-listbox .item-box{
    float:left;
    width:100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
/**Image Upload Section*/
/*form{
    padding:40px 20px;
    box-shadow:0 0 10px;
    border-radius:2px
}
h2{
    margin-left:30px
}*/
.upload{
    background-color:red;
    border:1px solid red;
    color:#fff;
    border-radius:5px;
    padding:10px;
    text-shadow:1px 1px 0 green;
    box-shadow:2px 2px 15px rgba(0,0,0,.75)
}
.upload:hover{
    cursor:pointer;
    background:#c20b0b;
    border:1px solid #c20b0b;
    box-shadow:0 0 5px rgba(0,0,0,.75)
}
#file{
    color:green;
    padding:5px;
    border:1px dashed #123456;
    background-color:#f9ffe5
}
#upload{
    margin-left:45px
}
#noerror{
    color:green;
    text-align:left
}
#error{
    color:red;
    text-align:left
}
#img{
    width:17px;
    border:none;
    height:17px;
    margin-left:-20px;
    margin-bottom:91px
}
.abcd{
    text-align:center
}
.abcd img{
    height:100px;
    width:100px;
    padding:5px;
    border:1px solid #e8debd
}
#filediv{
    text-align: center;
    max-width: 260px;
    margin: 15px auto 15px auto;
}
#formdiv form{
    text-align: center;
}
/**END Image Upload Section*/
/*map*/
#map-view #map {
    height: 400px;
    display: block;
    width: 100%;
    display: none;
}
/*end*/
/*user detail*/
.userdetai{
    margin-top: 4em;
}
.userdetai h3{
    margin-top: 0;
}
.allcolor{
    color: #cf2127;
}
.bio{
    padding-left: 0;
}
.connectus{
    float: left;
    width: 100%;
}
.contactuser{

}
.contactuser ul{
    list-style: none;
    display: inline-flex;
}
.contactuser ul li{
    margin-right: 10px;
    width:50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 13px 10px;
}
.contactuser ul li i{
    font-size: 1.5em;
    color:gray;
}
.contactuser ul li i:hover{
    color:#fff;
}
.contactuser .contact-fb:hover, .find-fb:hover{
    color:#fff;
    background-color: #3b5998;
}
.contactuser .contact-twitter:hover, .find-twitter:hover{
    color:#fff;
    background-color: #0084b4;
}
.contactuser .contact-gplus:hover, .find-gplus:hover{
    color:#fff;
    background-color: #d34836;
}
.contactuser .contact-linkedin:hover{
    color:#fff;
    background-color: #007bb6;
}
.find-rss:hover{
    color:#fff;
    background-color:#FF6600;
}
.find-youtube:hover{
    color:#fff;
    background-color:  #c4302b;
}
.find-pin:hover{
    color:#fff;
    background-color:  #c8232c;
}
.find-fb, .find-rss{
    padding: 5px 10px !important;
}
.find-fb, .find-rss, .find-gplus, .find-twitter, .find-pin, .find-youtube{
    width:30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 6px;
    float:left;
    margin-right: 5px;
}
.find-youtube{
    padding-left: 8px;
}
.connectus i{
    font-size: 1.2em;
}
.connectus .row{
    padding: 0
}
.connectus .col-lg-6{
    padding-bottom: 10px;
}
.connectus a{
    color:#000;
}
.rating {
    padding-top: 25px;
}
.rating-stars {
    margin-bottom: 23px;
}
.rating-stars, .rating-stars label::before {
    display: inline-block;
}
.rating-stars label:hover, .rating-stars label:hover ~ label {
    color: #e6b02d;
}
.rating-stars * {
    margin: 0;
    padding: 0;
}
.rating-stars input {
    display: none;
}
.rating-stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
    top: 4px;
}
.rating-stars label {
    color: #777777;
}
.rating-stars label::before {
    font-family: 'Glyphicons Halflings';
    content: "\e006";
    width: 35px;
    font-size: 16px;
    cursor: pointer;
    margin-right: -18px;
}
.rating-stars input:checked ~ label {
    color: #e6b02d;
}
.rating-disabled {
    opacity: .50;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
.user-list{
    padding-top: 15px;
}
.userdetai-right{
    margin-top: 25px;
    margin-bottom: 25px;
}
.user-info ul{
    display: inline-flex;
}
.user-info ul li{
    margin-right: 10px;
}
.item-bio{
    margin-bottom: 10px;
}
.min-price{
    margin-right: 2px;
}
.max-price{
    margin-left: 2px;
}
/*admin Dashboard*/
.active_row{padding: 1.5% 0 0 0; overflow: hidden;}
.active_row label{display: block}
.search_table{ float:right;}
.seach_icon{float:right; z-index:1000; position:relative; bottom: 22px; right:10px;margin-left:10px;}
.border_bottom{ border-bottom:1px solid #f0f0f0;}
.pad_topbottom{ padding: 10px 0 30px 0}
.inactive-box{
    padding: 20px;
}
.icn{margin:0 5px;font-size: 1.3em;}
#Archive .fa-envelope{font-size: 6em;}
#inbox p{
    margin-top: 7px;
    margin-right: 5px;
}
#inbox .col-xs-12{
    padding: 0;
}
.header-search{
    margin-bottom: 25px;
}
.title_bg_clr{background-color: #E8E8E8;}
.head_bdr_radius{ border-top-right-radius:5px;border-top-left-radius:5px}
.parant_wrap{ padding:2em;}
.select{ position:relative; bottom:10px;}
.cssAnimation {
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    -webkit-transform: rotate(-27deg) scale(1) skew(5deg) translate(-22px);
    -moz-transform: rotate(-27deg) scale(1) skew(5deg) translate(-22px);
    -o-transform: rotate(-27deg) scale(1) skew(5deg) translate(-22px);
}
.user-ads{
    border-top:0 !important;
    border:1px solid #eee;
    clear:both;
    margin-bottom: 50px;
    padding-bottom: 30px;
    float: left;
    width: 100%;
}
.thumb-box{
    margin: 0 auto;
    width:50%;
}
.thumb-box i{
    font-size: 6em;
}
#contactModal .modal-body{
    margin-bottom: 25px;
}
#contactModal .modal-body label{
    margin-bottom: 10px;
}
.modal-header{
    background-color:#cf2127;
    color:#fff;
}
.modal-header h4{
    margin-top: 0;
    margin-bottom: 0;
}
#reviewModal .rating-stars{
    left:-16px;
}
#reviewModal .modal-footer .btn+.btn{
    margin-right: 10px;
}
.contactseller{
    float: left;
    margin-right: 15px;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-bottom-width: 0;
}
.fa-trash{
    color:#cf2127;
}
.fa-edit, .inactive-box .fa-envelope{
    color:green;
}
.fa-star{
    color:gold;
}
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc;     margin: 10px 0;}

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}
/* Tabs panel */
.tabbable-panel {
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.setting-info{
    padding: 20px;
}
.setting-info .btn{
    margin-top: 25px;
}
.checkbox-area{
    margin-top: 10px;
    float:left;
    width:100%;
}
.checkbox-area label, .change-email label{
    margin-left: 10px;
}
.change-pwd input{
    margin-bottom: 10px;
}
.contact_us{
    padding: 0;
    margin:25px 0;
}
.contact_us input, .contact_us textarea, .contact_us button{
    margin-bottom: 10px;
}
.contactarea{
    margin-top: 40px;
}
.btn-submit {
    background-color: #cf2127;
    color: #fff;
    border-bottom: 4px solid #b32a2e;
    font-size: 16px;
    border-radius: 0;
    height: 40px;
}
.btn-submit:hover{
    color:#fff;
}
.mapinfo{
    background-color: #fff;
    border: 2px solid grey;
    padding: 10px;
    margin: 50px auto;
    max-width: 200px;
    text-align: center
}
.mapinfo:after, .mapinfo:before {
    top: 30.5%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mapinfo:after {
    border-color: rgba(128, 128, 128, 0);
    border-top-color: #808080;
    border-width: 15px;
    margin-left: -20px;
}
.mapinfo img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -65px;
    border: 1px solid #eee;
}
.itemtitle{
    color:#cf2127;
    font-size: 13px;
    text-align: center;
}
.mapinfo span{
    font-size: 12px;

}
.mapinfo .rating-stars{
    margin: 0 28px 0 -22px;
}
.mapinfo .rating-stars label::before {
    font-size: 12px;
    margin-right: -23px;
}
.rev-count{
    position: relative;
    top: 3px;
    color:#cf2127;
}
.item_price{
    text-align: center;
    clear: both;
    float: left;
    width: 100%;
}
/*drop down menu*/
.mini-submenu:hover{
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}
.mini-submenu .icon-bar {
    background-color: #fff;
}
#slide-submenu {
    display: inline-block;
    padding: 0;
    cursor: pointer;
    margin-right: -15px;
}
div.list-group
{
    z-index:300;
    position:absolute;
    right:9%;
    top:28px;
    height:43px;
    min-width: 150px;
}
.list-group{
    display: none;
}
.list-group a{
    font-weight: bold;
    font-size: 0.925em;
    color:#222 !important;
}
.list-group span{
    color:#222 !important;
}
.list-group .fa{
    margin-right: 10px;
    font-size: 1.3em;
    width: 20px;
}
.list-group .glyphicon{
    margin-right:10px;
    margin-left: 0;
    font-size: 1.3em;
    width: 20px;
}
.menu_top{
    background:yellow
}
.mini-submenu .icon-bar {
    background-color: #fff;
}
#slide-submenu{
    display: inline-block;
    padding: 0;
    cursor: pointer;
    margin-right: -15px;
}
.list-group-item:first-child{
    padding-bottom: 8px;
}
.login-link{
    color: #fff;
}
.login-link:hover{
    color: #fff;
}
/*end*/
/*footer*/
.footer-links{}
.footer-links h5{
    color:#fff;
}
.footer-links a{
    color:#222;
    text-decoration: none;
    line-height: 2;
}
.footer-links ul{
    margin-top: 0;
}
/*end*/

/*confirm-modal*/
.confirm-heading{
    padding-top: 0px;
    margin-top: -20px;
}
.confirm-heading h3{
    margin-bottom: 0px;
    padding-top: 12px;
}
/*end*/
/*searchbar*/
.container-1{
    width:97%;
    margin: 0 auto;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 input#search{
    width: 100%;
    height: 60px;
    background: #fff;
    border:10px solid #5886a1;
    box-shadow: 0 7px 7px #cdcdcd;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;

}
.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
    color: #65737e;
}
.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: -55px;
    z-index: 1;
    color: #000;
    border-radius: 3px;
    padding: 16px;
}
.container-1 .icon .fa-search{
    font-size: 1.5em;
}
.search_container h4{
    text-align: center;
    color:#1c1e1e;
    font-weight: bold;
}
.search-main{
    padding: 20px 20px 24px 20px;
    border-radius: 5px;
    float:left;
    width: 100%;

}

@media (max-width:500px){
    .container-1 {
        width:80%;
    }
}
/*end*/
/*faq*/
.faqHeader {
    font-size: 27px;
    font-weight: bold;
    margin: 20px 0;
}
/*end*/
/*contact form*/
.contact-container{
    max-width: 70%;
    margin: 0 auto;
}
.btn-submit{
    margin-top: 0;
}
.red{
    color:red;
}
.form-area
{
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}
.omb_loginForm{
    max-width:350px;
    margin: 0 auto;
}
.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
.signup-form{
    max-width:350px;
    margin: 0 auto;
}
.user_info .col-xs-3{
    padding: 0;
}
.user_info li{
    clear:both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.social-login{
    margin-top: 15px;
    padding: 0;
}
.thumbnail{
    margin-top: 15px;
}
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }
    .thumbnail{
        margin-left: -25px;
    }
}
/*end*/
@media (min-width: 3000px) {
    .home-category .category-bg{
        min-height: 161px;
    }
}
#review h5{
    padding: 15px 0;
}
#review .fa-commenting-o{
    font-size: 8em;
    color:#ddd;
    padding-top:35px;
}
.detail-msg{
    color:#222;
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 0 0 0;
}
.detail-msg h5{
    color:#000;
    margin-top: 0;
}
.detail-msg img{
    float: left;
    margin-right: 15px;
}
.msg-thread:first-child{
    border-top:0;
}
.msg-thread{
    padding: 15px 10px;
    clear: both;
    margin-bottom: 15px;
    width: 100%;
    float: left;
    border-top: 1px solid #ddd;
}
.reply-box{
    margin-top: 15px;
    float:left;
    width:100%;
    border-top: 1px solid #ddd;
    padding: 20px;
    background: #f5f5f5;
}
.reply-box textarea, .reply-box .btn{
    border-radius: 0;
}
.reply-box .btn{
    border-top:0;
    margin: 0;
    border-bottom: 0;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.upload-area {
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    border-left: 0;
}
.upload-area form{
    display: inline-flex;
}
#msgModal .modal-content{
    float: left;
    padding-bottom: 10px;
}
.top-authors .user_img{
    padding-left: 0;
    padding-right: 0;
}